// fonts
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:wght@300;400;700;900&display=swap");

$font-2: "Crimson Text", serif;
$main-font: "Lato", sans-serif;
//colors
$accent: #cf4a46;
$soft: #f7d2d2;
$black: #1b2125;
$dark: #1c1f26;
$header: #1c1f26e3;
$text: #515151;
$shadow: #51515141;
$gray: #cfcfcf;
$main-bg: #f6f4f5;
$light: #ffffff;
$btn: #272b37;
$card-gradient: linear-gradient(transparent, #000 30%);
