@import "reset", "boxes";

body {
  overflow-x: hidden;
  background-color: $dark;
}

ion-icon {
  width: 100%;
  height: 100%;
}

.header {
  @include flexBox($ff: row nowrap, $jc: space-between);
  width: 100%;
  height: 4em;
  padding: 0.5em 6em 0.5em 1em;
  background-color: $dark;
  color: $light;
  position: fixed;
  z-index: 1;

  &__btn {
    @include flexBox;
    z-index: 2;
    color: $light;
    width: 4em;
    height: 4em;
    position: relative;
  }

  &__icon {
    z-index: 1;
    display: flex;
  }

  &__link {
    @include flexBox;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__img {
    width: 12em;
  }
}

.nav {
  width: 0vw;
  height: 100vh;
  padding: 4em 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: $dark;
  transition: all 0.2s ease-out;
  z-index: 1;

  &__menu {
    @include flexBox($jc: start, $ai: start);
    gap: 1em;
    font-size: 1.2em;
    padding: 1em;
  }
}

.active {
  display: flex;
  width: 40vw;
}

//main
.main {
  @include flexBox($ai: start);
  width: 100%;
}
// slider

.slider {
  @include flexBox($ff: row nowrap);
  width: 300%;
  height: 90vh;
  margin-left: -100%;
  margin-top: 4em;
  position: relative;

  &__buttons {
    position: absolute;
    color: $light;
    @include flexBox;
    gap: 2em;
    font-weight: 600;
    width: 2em;
    right: 64em;
  }

  &__wrapper {
    width: 100%;
    height: 100%;
    color: $light;
    @include flexBox($ai: start, $jc: start);

    &--1 {
      background: url(../images/banner1.jpg) center no-repeat;
      background-size: cover;
    }
    &--2 {
      background: url(../images/banner2.jpg) center no-repeat;
      background-size: cover;
    }
    &--3 {
      background: url(../images/banner3.jpg) center no-repeat;
      background-size: cover;
    }
  }

  &__info {
    @include flexBox($ai: start);
    width: 25em;
    margin: 7em 0 0 11em;
    gap: 1em;
  }

  &__h2 {
    font-size: 1.5em;
    font-family: $font-2;
    font-style: italic;
  }

  &__h1 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__p {
    font-size: 1.1em;
  }

  &__link {
    background: $light;
    color: $dark;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.7em;
    padding: 1.5em 2em;
    border: 1px solid $dark;
    margin-top: 2em;
  }
}

.location {
  position: absolute;
  color: $light;
  bottom: 8vh;
  left: 0;
  right: 16em;
  @include flexBox($ff: row nowrap);
  gap: 1em;

  &__icon {
    width: 3em;
    height: 3em;
  }

  &__info {
    @include flexBox($ai: start);
  }

  &__h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
}

.baptism {
  background-color: $light;
  padding: 4.5em 14.5em 4.5em 2.5em;
  width: 100%;

  &__h2 {
    font-size: 1.4em;
    line-height: 1.3;
    padding: 0 1em;
    border-left: 3px solid $accent;
  }
}

.about {
  @include flexBox($ff: row nowrap, $ai: stretch);
  background-color: $main-bg;
  width: 100%;

  &__img {
    background-color: goldenrod;
    min-width: 26em;
    object-fit: cover;
  }

  &__info {
    @include flexBox($ai: start);
    padding: 3em;
    gap: 1em;
  }

  &__h2 {
    font-size: 2em;
    font-weight: 600;
  }

  &__p {
    color: $text;
    line-height: 1.5;
    font-size: 1.1em;
  }

  &__links {
    @include flexBox($ff: row nowrap);
    gap: 1em;
  }

  &__link {
    background-color: $accent;
    color: $light;
    padding: 1.5em 2.5em;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    margin-top: 2em;

    &--light {
      background-color: transparent;
      color: $dark;
      border: 1px solid $dark;
    }
  }
}

.ministries {
  @include flexBox($ai: start);
  color: $light;
  gap: 1em;
  padding: 8em 3em 3em 3em;
  width: 100%;

  &__h2 {
    font-size: 2.3em;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__container {
    @include flexBox($ff: row nowrap);
    gap: 1em;
  }

  &__card {
    @include flexBox($ff: row nowrap);
    border-left: 1px solid $text;
    padding: 1em;
    gap: 1em;
  }

  &__icon {
    color: $accent;
    width: 3em;
    height: 3em;
  }

  &__h3 {
    font-size: 1.3em;
    font-weight: 600;
  }
}

.sermons {
  background-color: $light;
  width: 100%;
  @include flexBox;
  padding: 6em 3em 3em;
  gap: 2em;

  &__info {
    width: 100%;
    @include flexBox($ff: row nowrap, $jc: space-between);
    gap: 1em;
  }

  &__h2 {
    font-size: 2.4em;
    font-weight: 600;
    width: 8em;
  }

  &__p {
    font-size: 1.1em;
    color: $text;
    line-height: 1.5;
    width: 30em;
  }

  &__container {
    @include flexBox($ff: row nowrap, $ai: stretch, $jc: start);
    gap: 2em;
    width: 150%;
    margin-left: 50%;
  }
}

.card {
  @include flexBox;
  box-shadow: 0 20px 40px $shadow;
  width: 18em;

  &__img {
    height: 100%;
    object-fit: cover;
  }

  &__info {
    @include flexBox($ai: start);
    gap: 1em;
    padding: 1.5em;
  }

  &__span {
    @include flexBox;
    color: $accent;
    background-color: $soft;
    padding: 0.5em 0.8em;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__h3 {
    font-size: 1.2em;
    font-weight: 600;
    line-height: 1.5;
  }

  &__divider {
    border-bottom: 1px solid $gray;
    width: 20%;
  }
}

.control {
  @include flexBox($ff: row nowrap, $jc: space-between, $ai: stretch);
  color: $dark;
  width: 100%;
  height: 2em;

  &__pag {
    @include flexBox($ff: row nowrap, $jc: start);
    width: 10%;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 1.5px;
  }

  &__progressbar {
    @include flexBox($ff: row nowrap, $jc: start);
    align-self: center;
    width: 80%;
    height: 0.2em;
    overflow: hidden;
    border-radius: 5em;
    background-color: $gray;
    position: relative;
  }

  &__progress {
    position: absolute;
    left: 0;
    align-self: start;
    width: 25%;
    height: 1em;
    background-color: $accent;
    transition: all 0.3s linear;
  }

  &__buttons {
    @include flexBox($ff: row nowrap, $jc: end);
    width: 10%;
  }

  &__btn {
    width: 100%;
    height: 1.2em;
  }
}
