* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: gray;
}

.container-slider {
  width: 90%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider {
  display: flex;
  width: 400%;
  height: 400px;
  margin-left: -100%;
}

.slider__section {
  width: 100%;
}

.slider__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider__btn {
  position: absolute;
  background-color: #ffffff6f;
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
  border-radius: 50%;
  cursor: pointer;
}

.slider__btn:hover {
  background-color: #ffffff;
}

.slider__btn--left {
  left: 10px;
}

.slider__btn--right {
  right: 10px;
}
