@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Lato:wght@300;400;700;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::selection {
  background-color: #1c1f26;
  color: #ffffff;
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

button {
  cursor: pointer;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  color: #1c1f26;
}

body {
  overflow-x: hidden;
  background-color: #1c1f26;
}

ion-icon {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 4em;
  padding: 0.5em 6em 0.5em 1em;
  background-color: rgba(28, 31, 38, 0.8901960784);
  color: #ffffff;
  position: fixed;
  z-index: 1;
}
.header__btn {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
  color: #ffffff;
  width: 4em;
  height: 4em;
  position: relative;
}
.header__icon {
  z-index: 1;
  display: flex;
}
.header__link {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 4;
}
.header__img {
  width: 12em;
}

.nav {
  width: 0vw;
  height: 100vh;
  padding: 4em 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #1c1f26;
  transition: all 0.2s ease-out;
  z-index: 3;
}
.nav__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
  gap: 1em;
  font-size: 1.2em;
  padding: 1em;
}

.active {
  display: flex;
  width: 40vw;
}

.main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  width: 100%;
}

.slider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 300%;
  height: 90vh;
  margin-left: -100%;
  margin-top: 4em;
  position: relative;
}
.slider__buttons {
  position: absolute;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
  font-weight: 600;
  width: 2em;
  right: 64em;
}
.slider__wrapper {
  width: 100%;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: start;
}
.slider__wrapper--1 {
  background: url(../images/banner1.jpg) center no-repeat;
  background-size: cover;
}
.slider__wrapper--2 {
  background: url(../images/banner2.jpg) center no-repeat;
  background-size: cover;
}
.slider__wrapper--3 {
  background: url(../images/banner3.jpg) center no-repeat;
  background-size: cover;
}
.slider__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  width: 25em;
  margin: 7em 0 0 11em;
  gap: 1em;
}
.slider__h2 {
  font-size: 1.5em;
  font-family: "Crimson Text", serif;
  font-style: italic;
}
.slider__h1 {
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 700;
}
.slider__p {
  font-size: 1.1em;
}
.slider__link {
  background: #ffffff;
  color: #1c1f26;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  padding: 1.5em 2em;
  border: 1px solid #1c1f26;
  margin-top: 2em;
}

.location {
  position: absolute;
  color: #ffffff;
  bottom: 8vh;
  left: 0;
  right: 16em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.location__icon {
  width: 3em;
  height: 3em;
}
.location__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
}
.location__h2 {
  font-size: 1.2em;
  font-weight: 600;
}

.baptism {
  background-color: #ffffff;
  padding: 4.5em 14.5em 4.5em 2.5em;
  width: 100%;
}
.baptism__h2 {
  font-size: 1.4em;
  line-height: 1.3;
  padding: 0 1em;
  border-left: 3px solid #cf4a46;
}

.about {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  background-color: #f6f4f5;
  width: 100%;
}
.about__img {
  min-width: 26em;
  object-fit: cover;
}
.about__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 3em;
  gap: 1em;
}
.about__h2 {
  font-size: 2em;
  font-weight: 600;
}
.about__p {
  color: #515151;
  line-height: 1.5;
  font-size: 1.1em;
}
.about__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.about__link {
  background-color: #cf4a46;
  color: #ffffff;
  padding: 1.5em 2.5em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  margin-top: 2em;
}
.about__link--light {
  background-color: transparent;
  color: #1c1f26;
  border: 1px solid #1c1f26;
}

.ministries {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  color: #ffffff;
  gap: 1em;
  padding: 8em 3em 3em 3em;
  width: 100%;
}
.ministries__h2 {
  font-size: 2.3em;
  font-weight: 600;
  text-transform: uppercase;
}
.ministries__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.ministries__card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #515151;
  padding: 1em;
  gap: 1em;
}
.ministries__icon {
  color: #cf4a46;
  width: 3em;
  height: 3em;
}
.ministries__h3 {
  font-size: 1.3em;
  font-weight: 600;
}

.sermons {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 6em 3em 3em;
  gap: 2em;
}
.sermons__info {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}
.sermons__h2 {
  font-size: 2.4em;
  font-weight: 600;
  width: 8em;
}
.sermons__p {
  font-size: 1.1em;
  color: #515151;
  line-height: 1.5;
  width: 30em;
}
.sermons__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: stretch;
  gap: 2em;
  width: 150%;
  margin-left: 50%;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 40px rgba(81, 81, 81, 0.2549019608);
  width: 18em;
}
.card__img {
  height: 100%;
  object-fit: cover;
}
.card__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 1em;
  padding: 1.5em;
}
.card__span {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #cf4a46;
  background-color: #f7d2d2;
  padding: 0.5em 0.8em;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.card__h3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
}
.card__divider {
  border-bottom: 1px solid #cfcfcf;
  width: 20%;
}

.control {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  color: #1c1f26;
  width: 100%;
  height: 2em;
}
.control__pag {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  width: 10%;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1.5px;
}
.control__progressbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  align-self: center;
  width: 80%;
  height: 0.2em;
  overflow: hidden;
  border-radius: 5em;
  background-color: #cfcfcf;
  position: relative;
}
.control__progress {
  position: absolute;
  left: 0;
  align-self: start;
  width: 25%;
  height: 1em;
  background-color: #cf4a46;
  transition: all 0.3s linear;
}
.control__buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  width: 10%;
}
.control__btn {
  width: 100%;
  height: 1.2em;
}

.offer {
  background-color: #f6f4f5;
  width: 100%;
  padding: 4em 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.offer__h2 {
  width: 100%;
  text-align: center;
  font-size: 2.4em;
  font-weight: 600;
  text-transform: uppercase;
}
.offer__container {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.offer__li {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.offer__img {
  object-fit: cover;
}
.offer__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.offer__text {
  color: #cf4a46;
}
.offer__link {
  font-weight: 600;
  font-size: 1.2em;
}
.offer__divider {
  border-bottom: 1px solid #cf4a46;
  width: 2em;
}

.bio {
  background-color: #1c1f26;
  color: #ffffff;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  gap: 2em;
}
.bio__info {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  gap: 2em;
}
.bio__h2 {
  font-size: 2.4em;
  font-weight: 600;
}
.bio__p {
  font-size: 1.1em;
  line-height: 1.5;
}
.bio__cta {
  padding: 1.6em 2em;
  border: 1px solid #515151;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
}

.testimonials {
  width: 60%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: end;
  overflow: hidden;
}
.testimonials__img {
  background-color: gray;
  margin-right: -1em;
  margin-bottom: -18em;
  max-width: 25em;
  height: 36em;
  object-fit: cover;
}
.testimonials__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-self: start;
  margin-left: -100%;
  width: 300%;
  background-color: #cf4a46;
}
.testimonials__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 2em 2em 3em 4em;
}
.testimonials__q {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
}
.testimonials__person {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
  gap: 1em;
  width: 100%;
}
.testimonials__avatar {
  background-color: gray;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials__cite {
  font-style: normal;
}

.team {
  background-color: #ffffff;
  width: 100%;
  padding: 4em 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.team__h2 {
  font-size: 2.4em;
  font-weight: 600;
  text-transform: uppercase;
}
.team__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  gap: 0.5em;
}
.team__card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  color: #ffffff;
  padding: 2em 3em 2em 1em;
  gap: 0.6em;
  position: relative;
  z-index: 0;
}
.team__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(transparent, #000 30%);
  opacity: 0.4;
  z-index: -1;
}
.team__card--edward {
  background: url(../images/edward-gray.jpg) center no-repeat;
  background-size: cover;
}
.team__card--james {
  background: url(../images/james-lee.jpg) center no-repeat;
  background-size: cover;
}
.team__card--harry {
  background: url(../images/harry-smith.jpg) center no-repeat;
  background-size: cover;
}
.team__card--jack {
  background: url(../images/jack-peters.jpg) center no-repeat;
  background-size: cover;
}
.team__h3 {
  font-size: 1.3em;
}
.team__h4 {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.4em;
}
.team__p {
  font-weight: 500;
  line-height: 1.5;
  position: relative;
  padding: 0.6em;
  color: #cfcfcf;
}
.team__p::before {
  content: "";
  background-color: #cf4a46;
  width: 2px;
  height: 50%;
  top: 25%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.team__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  align-self: end;
  width: 2.4em;
  height: 2.4em;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  color: #cf4a46;
  padding: 0.5em;
}

.app {
  background-color: #f6f4f5;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.app__img {
  align-self: stretch;
  background-color: gray;
  min-width: 26em;
  object-fit: cover;
}
.app__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 4em 3.5em;
  gap: 2em;
}
.app__info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  gap: 2em;
}
.app__h2 {
  font-size: 2.4em;
  font-weight: 600;
}
.app__p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #515151;
}
.app__list {
  display: flex;
  flex-flow: column wrap;
  justify-content: start;
  align-items: start;
  width: 60%;
  height: 6em;
  gap: 1em 2em;
}
.app__item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.app__icon {
  color: #cf4a46;
  width: 1.2em;
  height: 1.2em;
}
.app__links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.app__btn {
  border: 1px solid #1c1f26;
  width: 10em;
}
.app__link {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: 100%;
  gap: 0.5em;
}
.app__logo {
  width: 1.5em;
  height: 1.5em;
  color: #cf4a46;
}
.app__span {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.consultation {
  background-color: #cf4a46;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: start;
  padding: 4em 2.5em;
  gap: 2em;
}
.consultation__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: end;
  gap: 6em;
  color: #ffffff;
}
.consultation__h2 {
  font-size: 2.4em;
  font-weight: 600;
  text-transform: uppercase;
}
.consultation__p {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-size: 1.4em;
}

.form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  gap: 1em;
}
.form__input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 1em;
  min-height: 3em;
  width: 100%;
}
.form__input--btn {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 1px;
  border: 1px solid #1c1f26;
}

.sponsor {
  background-color: #f6f4f5;
  width: 100%;
  padding: 4em 5em;
}
.sponsor__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.sponsor__item {
  width: 8em;
  height: 3em;
}
.sponsor__img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer {
  background-color: #1c1f26;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 3em 0 5em;
  gap: 3em;
  overflow: hidden;
}
.footer__wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.footer__rights {
  color: #515151;
}

.navbar {
  width: 100%;
  border-bottom: 1px solid #515151;
  padding-bottom: 3em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.navbar__menu {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}
.navbar__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar__link {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 0;
}
.contact__span {
  font-size: 1.2em;
  font-weight: 600;
}
.contact__number {
  color: #cf4a46;
  font-size: 1.6em;
}
.contact__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2em;
  gap: 1em;
  position: relative;
}
.contact__item {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 1px solid #515151;
  background-color: #272b37;
}
.contact__link {
  color: #515151;
  width: 2.5em;
  height: 2.5em;
  padding: 0.6em;
}
.contact__line {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #515151;
  width: 500%;
  height: 1px;
  top: 50%;
  bottom: 0;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
